	@charset "UTF-8";
	/***********************
	 *Lara Jones
	 *TINFO 230 Candyce Sexton Photography
	 *********************/

	body {
		
		font-family: verdana;
		font-size: 12px;
		color: #ffffff;
		background-color: black;
	}

	/* Main Navigation */
	#nav {
		
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 15px;
		position:relative;
		width:600px;
		margin:0 auto; 
		margin-top:50px;
		margin-bottom:20px;
	}

	#nav1 {
		
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 15px!important;
		position:relative;
		width:600px;
		margin:0 auto; 
		margin-top:50px;
		margin-bottom:20px;
	}

	ul#navigation {
		
		margin: 80px auto 0px;
		float:left;	
	}

	ul#navigation li {
		
		display:inline;
		color: #CCC;
		/*font-weight:bold;*/
		margin:0;
		padding:0;
		position:relative;
		background: #000;
	}
	  
	ul#navigation li a {
		
		padding:10px 15px;
		color:#ffffff;
		text-decoration:none;
		display:inline-block;
		background: ;
		-webkit-transition:color 0.2s linear, background 0.2s linear;   
		-moz-transition:color 0.2s linear, background 0.2s linear;  
		-o-transition:color 0.2s linear, background 0.2s linear;    
		transition:color 0.2s linear, background 0.2s linear;   
	}


	ul#navigation li a:hover {
		
		background:#cc3333;
		color:#ffffff;
		
	}

	ul#navigation li a.first {
		
		border-left: 0 none;
	}

	ul#navigation li a.last {
		
		border-right: 0 none;
	}

	ul#navigation li:hover > a {
		
		background:#cc3333;
	}

	/* Drop-Down Navigation */

	ul#navigation li:hover > ul

	{
		
	/*these 2 styles are very important, 
	being the ones which make the drop-down to appear on hover */
		visibility:visible;
		opacity:1;
	}

	ul#navigation ul, ul#navigation ul li ul {
		
		list-style: none;
		margin: 0;
		padding: 0;
		
	/*the next 2 styles are very important, 
	being the ones which make the drop-down to stay hidden */
		visibility:hidden;
		opacity:0;
		position: absolute;
		z-index: 99999;
		width:180px;
		background: ;
		box-shadow:1px 1px 3px #ccc;
	/* css3 transitions for smooth hover effect */
		-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
		transition:opacity 0.2s linear, visibility 0.2s linear;     
	}

	ul#navigation ul {

		top: 25px;
		left: 1px;
		background: #000;
	}

	ul#navigation ul li ul {
		top: 0;
		left: 181px; /* strong related to width:180px; from above */
	}

	ul#navigation ul li {
		clear:both;
		width:100%;
		border:0 none;
		border-bottom:1px solid #c9c9c9;
	}

	ul#navigation ul li a {
		background: ;
		padding:7px 15px;
		color:#ffffff;
		text-decoration:none;
		display:inline-block;
		border:0 none;
		float:left;
		clear:both;
		width:150px;
	}

	.coverpage {
		margin-top: 20px;
	}

	.coverlink {
		padding: 0 40px;
		margin: -20px 105px;
	}

	#page {
		width: 960px;
		margin: 20px auto 100px;
	}

	#cover1page{

	width: 960px;
	margin: 20px auto 15%;
	/*margin: 25px 50px 75px 100px;

		top margin is 25px
		right margin is 50px
		bottom margin is 75px
		left margin is 100px*/

	}

	.coverimg {
		padding:5px 20px 0px 0px;
		/*padding: 25px 50px 75px 100px;

		top padding is 25px
		right padding is 50px
		bottom padding is 75px
		left padding is 100px*/
	}

	.movethislink {
		padding-left: 65px!important;
	}

	a{
		color: #cccccc!important;
		text-decoration: none;	
	}

	header  {

		background-image: url('http://students.washington.edu/ljones68/tinfo230/tp1/images/candyce-sextonlogo.png');
		background-repeat: no-repeat;
		margin: 0px auto 0px;
		height: 100px;
		width: 960px;

		margin-left: 23%;
		margin-top: 20px;
	}

	.coverheader  {

		margin-top: 50px;
	}


	img {	
		padding: 2px;
		float: left;
	}

	p {
		padding: 10px;
	}

	aside {
	float: right;
	width:20%;
	padding: 10px;
	}
		
	footer { 
		text-align: center;
		color: #cccccc;
		margin: -3% auto -8%;
	/*margin: 25px 50px 75px 100px;

		top margin is 25px
		right margin is 50px
		bottom margin is 75px
		left margin is 100px*/
		
		
	}

	.will, a.hover, a.active {
		text-decoration: none;
		/*color: cc3333!important;*/
		color: #f20C0C!important;
		text-align: center;	
	}

	.moveme {	
		width: 470px;
		margin-left: 28%;
		float: left;
	}

	.moveme1 {	
		width: 470px;
		margin-left: 31%;
		float: left;
	}
	.moveme2 {	
		width: 470px;
		margin: auto;
		float: left;
	}

	h1 {
		text-align: left;
	/*font-family: 'Special Elite', cursive;*/
		color: #cc3333;
		font-size: 30px;
		padding: 5px 100px;
	}

	h2{	
	/*font-family: 'Special Elite', cursive;*/
		color: #cc3333!important;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	h3 {	 
	/*font-family: 'Special Elite', cursive;*/
		color: #FFFFFF!important;
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
	}


	nav {	
	/*font-family: 'Special Elite', cursive;*/
		/*font-size: 14px;*/
		margin: 150px 0px 0px 0px;
		padding-left: 40px;	
	}

	#subnav {	
		display: block;
		float: right;
		color: #cccccc!important;
		margin: 20px -316px 0px 0px;
	}

	.about { 	
		width: 75%;
		margin: auto;	
	}

	.list{	
		list-style-type: none;
		display: block;
		float: right;	
	}

	.topnav {	
		padding: 0px 4px;
	}

	.subnavlist{	
		list-style-type: none;
		display: block;
		float: right;
		color: #cccccc!important;
		padding: 2px 4px;	
	}

	ul, li{	
		list-style-type: none;	
	}

	.navi {	
		float: left;
		display: block;		
	}

	.pad {	
		padding: 10px 10px;
		float: left;
		display: block;		
	}

	#content {
		float: left;
		width: 85%;
		padding: 10px;
		margin:10px 9% 0px;	
	}

	#contentabout {
		float: left;
		width: 65%;
		padding: 10px;
		margin:10px 15% 0px;	
	}	

	#collectionblock {
		float: left;
		width: 35%;		
	}

	.contentform {
		float: left;
		width: 85%;
		padding: 10px 10px 10px 0px;
		margin:10px 9% 0px;	
	}

	#contentpage {
		float: left;
		width: 80%;
		padding: 10px;
		margin:10px 10% 20% 0px;	
	}

	#contentstuff {
		float: left;
		width: 80%;
		padding: 10px;
		margin:10px 10% 20% 0px;	
	}


	em {	
	font-style: italic;
		color:  #606060; 
	}

	.clear {
		clear: both;
	}

	.fancybox-opened .fancybox-skin {
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
	}

	#lower {
		
		width: 750px;
		margin: auto;
	}

	.right {
		
		float: right;	
	}

	.left {
		
		float: left;
	}

	.block {
		
		display: block;
	}

	.pad {
		
		padding: 0px 5px;
		float: right;
		display: block;
	}

	.links {
		
		margin-left: 10%;
	}
